**/*
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!PRIVACY.md
!THIRD_PARTY_NOTICES.md
!dist/extension.cjs
!dist/worker.cjs
!dist/engine.wasm
!dist/wasm_exec.cjs
!webview/**
!examples/**
!docs/images/**
!docs/DEVELOPMENT.md
!docs/EXAMPLES.md
!docs/RELEASING.md
!docs/VALIDATION.md
!docs/WINDOWS.md
